name: Template Cleanup
permissions: 
  contents: write
on:
  push:
    branches:
      - main
      - master
    paths-ignore:
      - '.github/**'
      - 'ai-contexts/**'
      - 'docs/**'

jobs:
  cleanup:
    name: Template Cleanup
    runs-on: ubuntu-latest
    if: github.event.repository.name != 'pyside-base'
    
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set Repository URL ENV
        run: echo "REPO_URL=${GITHUB_REPOSITORY}" >> $GITHUB_ENV

      - name: Cleanup then commit
        run: |
          # Remove template-specific files
          rm -rf .github/workflows/template-cleanup.yml
          rm -rf .cursor
          rm -rf .cursorrules
          # Update README
          sed -i "s|<your-new-repo-url>|${REPO_URL}|g" README.md
          sed -i "s|<your-new-repo-url>|${REPO_URL}|g" README.vi.md
          mv README.md README.base.md
          mv README.vi.md README.base.vi.md
          echo "# ${REPO_URL}" > README.md
          echo "Introduction, document about UltraBugz PysideBase. Please See [README.base.md](./README.base.md)" >> README.md
          git add README*.md
          # Commit changes
          git config --global user.name 'GitHub Actions'
          git config --global user.email 'actions@github.com'
          git add -A
          git commit -am "Initialize template repository"
          git push
